.grid-container {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 25vw);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.content {
	padding: 20%;
	height: 25rem;
	color: hsla(0, 0%, 100%, 0.75);
}
.content h1 {
	color: hsl(0, 0%, 95%);
	margin: 25% 0;
}
.item-a {
	background-color: hsl(31, 77%, 52%);
	border-radius: 25px 0 0 25px;
}

.item-b {
	background-color: hsl(184, 100%, 22%);
}

.item-c {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 25px 25px 0;
}

.attribution {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.btn {
	background-color: hsl(0, 0%, 95%);
	text-decoration: none;
	position: relative;
	bottom: -25%;
	border-radius: 25px;
	padding: 7%;
}

@media (max-width: 1440px) {
  .item-b{
    background-color: red;
  }
}
