:root{
    --color-primary-400: hsl(31, 77%, 52%);
    --color-primary-700: hsl(184, 100%, 22%);
    --color-primary-900: hsl(179, 100%, 13%);

    --color-neutral-100: hsla(0, 0%, 100%, 0.75);
    --color-neutral-200: hsl(0, 0%, 95%);

    --font-neutral-400: 'Lexend Deca', sans-serif;
    --font-neutral-700: 'Big Shoulders Display', sans-serif;
}

body{
  font-size: 15px;
  line-height: 1.25;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn{
  position: relative;
  bottom: -25%;
  color: #fff;
}

.container {
  position: relative;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.col{
  color: var(--color-neutral-200);
  padding: 5%
}

.col p{
  color: var(--color-neutral-100);
}

.sedan{
  background-color: var(--color-primary-400);
}
.suv{
  background-color: var(--color-primary-700);
}
.luxury{
  background-color: var(--color-primary-900);
}