/* Mobile Layout */
html{
	font-size: 15px;
}

h1{
	font-family: 'Big Shoulders Display';
	font-weight: 700;
}
p{
	font-family: 'Lexend Deca';
}

.footer{
	text-align: center;
}
.grid-container {
	margin: 1.5em;
}

.content {
	padding: 20%;
	height: 25rem;
	color: hsla(0, 0%, 100%, 0.75);
}
.content h1 {
	color: hsl(0, 0%, 95%);
	margin: 25% 0;
}
.item-a {
	background-color: hsl(31, 77%, 52%);
	border-radius: 25px 25px 0 0;
}

.item-b {
	background-color: hsl(184, 100%, 22%);
}

.item-c {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 0 25px 25px;
}

.btn {

	background-color: hsl(0, 0%, 95%);
	border-radius: 25px;
	padding: 1em 3em;
	text-decoration: none;
	text-align: center;
	position: relative;
	bottom: -15%;
	font-family: 'Lexend Deca';
}

.item-a .btn{
	color:hsl(31, 77%, 52%)
}

/* Desktop Layout */

@media (min-width: 800px) {
	.grid-container {
		position: absolute;
		display: grid;
		grid-template-columns: repeat(3, 25vw);
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.attribution {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
	}

	.item-a {
		border-radius: 25px 0 0 25px;
	}

	.item-c {
		border-radius: 0 25px 25px 0;
	}
}
